include ../slider-config/slider-config

mixin range-slider(options)
   - const { showConfig=false, min=0, max=100, step=1, from=20, to=80, isVertical=false, isRange=true, showScale=false, showBar=true, showTip=true } = options
      .range-slider
         .range-slider__slider.js-range-slider
         if (showConfig)
            +slider-config({
               showConfig: showConfig,
               min: min,
               max: max,
               step: step,
               from: from,
               to: to,
               isVertical: isVertical,
               isRange: isRange,
               showScale: showScale,
               showBar: showBar,
               showTip: showTip
            })
